@import '../../styles/images.scss';


.presentation{
    &__wrapper{
        margin-top: 1em;
        margin-bottom: 2em;
    }
    &__main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    &__main-text{
        display: flex;
        flex-direction: column;
    }
    &__cheer{
        font-size: 3em;
        font-weight: 200;
        margin-bottom: 2vmin;
        margin-bottom: 0.5em;
    }
    &__description{
        font-size: 1.8em;
        font-weight: 200;
        margin-bottom: 0.8em;
    }
    &__main-image{
        height: $image_size_sm;
        margin-top: 1em;
    }
    &__social-links{
        margin-top: 2em;
        display:flex;
        justify-content: center;
        align-items: center;

        *{ 
            margin-right: 3em;
        }
        *:last-child{
            margin-right: 0;
        }
    }
    &__icon{
        height: 32px;
    }
}

@media screen and (min-width: 768px) {
    .presentation{
        &__wrapper{
            max-width: 80% ;
        }
        &__icon{
            height: 48px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .presentation{
        &__main{
            flex-direction: row;
            margin-bottom: 5em;
        }
        &__main-text{
            flex: 2;
        }
        &__main-image-container{
            flex:1;
        }
        &__main-image{
            height: $image_size_l;
        }
        &__icon{
            height: 60px;
        }
    }
}