button{
    border:none;
    cursor: pointer;
    margin:.5em;
    color:#45b649;
    background-color: inherit;
    text-transform: uppercase;
    padding: 0.5em;
    transition: background-color 0.5s ease;
}
button:hover{
    background-color: #f0f0f0;
}