button{
    background-color: #91a6ff;
    font-size: 1.2em;
    padding-top: .8em;
    padding-bottom:.8em;
    padding-left:1.5em;
    padding-right: 1.5em;
    color:white;
    border:none;
    transition: 0.5s;
    cursor: pointer;
}
button > a{
    color:white;
    text-decoration: none;
}
button:hover{
    background-color: #7889d3;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}