button{
    background-color: #45b649;
    font-size: 1.5em;
    padding-top: .6em;
    padding-bottom:.6em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    color:white;
    border:none;
    transition: 0.5s;
    cursor: pointer;
    margin:.5em;
}
button > a{
    color:white;
    text-decoration: none;
}
button:hover{
    background-color: #348d37;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}