@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

*{
    font-family: "Roboto","Open Sans", "Arial";
}

.layout-wrapper{
    width: 100%;
}

@media screen and (min-width: 768px){
    .layout-wrapper{
        margin: auto;
        width: 70%;
    }
}