html, body, .tl-edges, .tl-wrapper, #___gatsby, #___gatsby>div{
    height: 100%;
    width: 100%;
}
.index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 1em;
}

.index-text-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.index-cheer{
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 2vmin;
    margin-bottom: 0.5em;
}
.index-description{
    font-size: 1.8em;
    font-weight: 200;
    margin-bottom: 0.8em;
}
.index-social-links{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.index-social-links button{
    font-size: 1.2em;
}
@media screen and (min-width: 600px) {
    .index-social-links{
        flex-direction: row;
        flex-wrap:wrap;
    }
    .index-text-container{
        width: 60%;
    }

}