.card-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:1em;
    margin-bottom: 1em;
}

.portfolio-hr{
    margin: auto;
    margin-top:3em;
    width: 75%
}
.card-body-description a{
    color:#45b649;
    transition: background-color 0.5s ease;
}
.card-body-description a:hover{
    background-color: #f0f0f0;
}