.card-container{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 1em;
    margin:1em;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center; 
}

.card-container .card-header{
    height: 20%;
    margin:0;
    font-size: 1.4em;
    text-decoration: underline;
}

.card-container .card-body{

}

.card-container .card-footer{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-container > ul{
    list-style: "- ";
}


@media screen and (min-width: 600px) {
    .card-container{
        max-width: 40% 
    }
}

@media screen and (min-width: 900px) {
    .card-container{
        max-width: 25% 
    }
}