.card-container{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin:1em;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch; 
    height: fit-content;
}

.card-container .card-image-header{
    width: 100%;
}

.card-container .card-body{
    margin: 1em 2em 2em 1em;
}

.card-body>h2{
    font-weight: 300;
    margin: 0 0 0.3em 0;
}

.card-body .card-body-description{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 0;
}
.card-body .card-body-stack{
    color:#4b4b4b;
    font-weight: 700;   
    font-size: 0.9em;
}

.card-body-hr{
    width: 40%;
    text-align:left;
    margin-left:0;
    height: 2px;
    color:#45b649;
    background-color: #45b649;
}

.card-container .card-footer{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    margin:0;
}

@media screen and (min-width: 600px) {
    .card-container{
        max-width: 40% 
    }
}

@media screen and (min-width: 900px) {
    .card-container{
        max-width: 25% 
    }
}