@import "../../styles/images.scss";

.contact {
    &__wrapper {
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }
    &__form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }
    &__label {
        margin-bottom: 1em;
    }
    &__input {
        border: 1px solid green;
        padding: 12px;
        background-color: inherit;
        border-radius: 7px;
    }
    &__image {
        height: $image_size_sm;
        margin-top: 2em;
    }
    &__button {
        padding: 12px 18px 12px 18px;
        color: black;
        text-decoration: none;
        box-shadow: 1px 2px 5px 0 rgb(0 0 0 / 74%);
        background-color: white;
    }
}

@media screen and (min-width: 768px) {
    .contact {
        &__wrapper {
            min-width: 80%;
        }
    }
}
@media screen and (min-width: 1280px) {
    .contact {
        &__wrapper {
            min-width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
        &__form {
            flex: 6;
        }
        &__image {
            flex: 4;
            height: $image_size_l;
            margin-top: 0;
            margin-left: 2em;
        }
    }
}
