.contact{
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__form{
        padding: 25px;
    }
    &__form-group{
        display: flex;
        flex-direction: column;
    }
    &__label{

    }
    &__input{

        padding: 12px;
        background-color: inherit;
        border-radius: 7px;
    }
    &__textarea{
        margin-top: 8px;
        border: 1px solid #999;
        padding: 12px;
        background-color: inherit;
    }
}