@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

*{
    font-family: "Roboto","Open Sans", "Arial";
}

html, body, .tl-edges, .tl-wrapper, #___gatsby, #___gatsby>div{
    margin:0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    /* background-color: #C4F1BE; */
    background-color: white
}
body{
    border-top: 5px black solid;
}
.index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
