.nav{
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 1em;
    }
    &__link{
        margin-right: 1em;
        color: black;
        text-decoration: none;
    }
    &__link:last-child{
        margin-right: 1.2em;
    }
}