.allProjects {
    &__wrapper {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__clarification {
        margin-left: 1em;
        margin-right: 1em;
        text-align: center;
    }
}
