.blog-post-paragraph{
    display: block;
    margin-bottom: 1em;
    margin-top: -1em;
}
.blog-post-hr{
    margin-bottom: 1em;
}
.blog-post-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}