.blog-list-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog-list-column{
    display: flex;
    flex-direction: column;

}

.link-no-shadow{
    box-shadow: none;
}

.blog-list-navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.blog-list-navigation-item{
    margin: 0;
}

.blog-list-entry-title{
    margin-bottom: 0;
}
.blog-list-date{
    margin-top: 0;
}