.blog-list-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog-list-column{
    display: flex;
    flex-direction: column;
    width:90%;
}
.link-no-shadow{
    box-shadow: none;
}

.blog-list-navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.blog-list-navigation-item{
    margin: 0;
}

.blog-list-entry-title{
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 0;
    padding-bottom: 0.3em;
}
.blog-list-entry-title a{
    color:inherit;
    text-decoration: none;
}
.blog-list-entry-title a:hover{
    text-decoration: underline;
}
.blog-list-date{
    margin-top: 0;
}

.blog-list-excerpt{
    font-size: 1.2em;
}

@media only screen and (min-width: 600px){
    .blog-list-column{
        display: flex;
        flex-direction: column;
        width:60%;
    }
    .blog-list-container{
        margin-top: 2em;
    }
}